.header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  background-color: lightblue;
}

.nav {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_welcome {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  overflow: hidden;
}

.nav_logo {
  width: 100%;
  height: 100%;
}

.nav_logo img {
  width: 100%;
  height: 100%;
}

.button_container {
  display: flex;
  gap: 1rem;
  height: 100%;
  align-items: center;
}

.button_container button {
  height: 40%;
  outline: none;
  border: none;
  background-color: rgb(4, 175, 118);
  color: white;
  padding-inline: 1rem;
  border-radius: 0.3rem;
}

.button_container button:hover {
  background-color: white;
  color: rgb(4, 175, 118);
  cursor: pointer;
}
